.container {
    width: 100%;
    justify-content: center; /* Center the document */
    min-height: 100vh;
}

.document {
    padding: 10vw 10vw; /* Proportional padding to the viewport width */
    margin: 0 auto;
    border: black 1px solid;
    width: 100vw; /* Adjust width as needed */
    height: calc(100vw * 1.414); /* Maintain A4 aspect ratio */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header {
	padding-bottom: 2vw;
}

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.section {
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.description {
	padding-left: 6vw;
	padding-right: 4vw;

}

.signatures{
	display: flex;
	justify-content: space-between;
	padding-right: 20vw;
}
.initials {
	padding-left: 8vw;
	padding-right: 4vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.payout {
	padding-left: 10vw;
	padding-right: 6vw;
}

.payoutTitle {
	padding-left: 8vw;
	padding-right: 6vw;
}

.payoutOption {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-left: 6vw;
    margin-right: 2vw;
}

.h1 {
	text-align: center;
	
}

.docTitle {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 3vw;
    padding-top: 0.5vw;
    text-indent: -4.9vw;
    text-align: center;
	padding-left: 14vw;
	padding-right: 14vw;
}

.p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 2vw;
    margin: 0;
    padding-top: 1.4vw;
    text-indent: 0;
    text-align: left;
}

.h2 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 2vw; /* Responsive font size */
    padding-top: 1.4vw;
    padding-left: 4vw;
    text-indent: -1.7vw;
    text-align: left;
}

.h3 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5vw; /* Responsive font size */
    padding-top: 5vw;
    padding-left: 4vw;
    text-indent: -1.7vw;
    text-align: left;
}

.s1 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 1.5vw; /* Responsive font size */
	margin-left: 25vw;
}

.s2 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 1vw; /* Responsive font size */
}

.s3 {
    color: black;
    font-family: "Times New Roman",
}